<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hypode.bruttonetto</string>
	<key>connections</key>
	<dict>
		<key>0A3C749F-1494-453A-9D1A-3850BE4DD029</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A83421F-B3CB-4FC6-808B-6BF9CF9C14F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>34934AFC-FB69-44F9-A833-C71F5F77F9C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A83421F-B3CB-4FC6-808B-6BF9CF9C14F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A83421F-B3CB-4FC6-808B-6BF9CF9C14F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F160FB6-087E-473C-AEBE-9BADA819AC9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BAF04129-5978-4C6B-A9E7-6C6C939FE514</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Piotr Kuczynski</string>
	<key>description</key>
	<string>Brutto Netto Kalkulator</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Brutto Netto</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>70</integer>
				<key>keyword</key>
				<string>brutto</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>ruby workflow.rb "brutto {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Opcjonalnie podaj stawkę VAT jako drugi parametr</string>
				<key>title</key>
				<string>Kwota brutto z kwoty netto</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34934AFC-FB69-44F9-A833-C71F5F77F9C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2F160FB6-087E-473C-AEBE-9BADA819AC9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5A83421F-B3CB-4FC6-808B-6BF9CF9C14F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>70</integer>
				<key>keyword</key>
				<string>netto</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>ruby workflow.rb "netto {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Opcjonalnie podaj stawkę VAT jako drugi parametr</string>
				<key>title</key>
				<string>Kwota netto z kwoty brutto</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A3C749F-1494-453A-9D1A-3850BE4DD029</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Kwota {var:value_uid} została skopiowana do schowka</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BAF04129-5978-4C6B-A9E7-6C6C939FE514</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A3C749F-1494-453A-9D1A-3850BE4DD029</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>2F160FB6-087E-473C-AEBE-9BADA819AC9B</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>34934AFC-FB69-44F9-A833-C71F5F77F9C7</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>5A83421F-B3CB-4FC6-808B-6BF9CF9C14F3</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>BAF04129-5978-4C6B-A9E7-6C6C939FE514</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/pkuczynski</string>
</dict>
</plist>
